<div class="page page--gray page--login">
  <header class="header">
    <div class="container">
      <div class="header__wrapper">
        <div class="header__left">
          <a class="header__logo-link" href="main.html">
            <img class="header__logo" src="img/logo.svg" alt="6 cities logo" width="81" height="41">
          </a>
        </div>
      </div>
    </div>
  </header>

  <main class="page__main page__main--login">
    <div class="page__login-container container">
      <section class="login">
        <h1 class="login__title">Sign in</h1>
        <form [formGroup]="loginForm" class="login__form form" action="#" method="post">
          <div class="login__input-wrapper form__input-wrapper">
            <label for="email" class="visually-hidden">E-mail</label>
            <input formControlName="email" id="email" class="login__input form__input" type="email" name="email"
                   placeholder="Email" required="">
            @if (emailControl?.errors && emailControl?.touched) {
              @if (emailControl?.errors?.['required']) {
                <div class="error">Email обязателен для заполнения</div>
              }
              @if (emailControl?.errors?.['email']) {
                <div class="error">Не правильный формат email</div>
              }
            }
          </div>
          <div class="login__input-wrapper form__input-wrapper">
            <label for="password" class="visually-hidden">Password</label>
            <input formControlName="password" id="password" class="login__input form__input" type="password"
                   name="password" placeholder="Password" required="">
            @if (passwordControl?.errors && passwordControl?.touched) {
              @if (passwordControl?.errors?.['required']) {
                <div class="error">Password обязателен для заполнения</div>
              }
              @if (passwordControl?.errors?.['pattern']) {
                <div class="error">Не правильный формат password</div>
              }
            }
          </div>
          <button class="login__submit form__submit button" type="submit" [disabled]="loginForm.invalid">Sign in
          </button>
        </form>
      </section>
      <section class="locations locations--login locations--current">
        <div class="locations__item">
          <a class="locations__item-link" href="#">
            <span>Amsterdam</span>
          </a>
        </div>
      </section>
    </div>
  </main>
</div>
