<div class="page page--gray page--main">
  <app-header/>
  <main class="page__main page__main--index">
    <h1 class="visually-hidden">Cities</h1>
    <div class="tabs">
      <section class="locations container">
        <ul class="locations__list tabs__list">
          @for (city of CITY_LOCATIONS; track city) {
            <li class="locations__item">
              <a
                [ngClass]="{
                 'locations__item-link': true,
                 'tabs__item tabs__item--active': isActiveCity(city)
                 }"
                (click)="changeCity(city)"
                href="#">
                <span>{{ city.name }}</span>
              </a>
            </li>
          }
        </ul>
      </section>
    </div>
    <div class="cities">
      <div class="cities__places-container container">
        <section class="cities__places places">
          <h2 class="visually-hidden">Places</h2>
          <b class="places__found">{{ offersTotal() }} places to stay in {{ currentCity().name }}</b>
          <app-places-sorting-form [currentSortType]="currentSortType()" (clicked)="changeSortType($event)"/>
          <div class="cities__places-list places__list tabs__content">
            @for (offer of offers() | sortOfferBy: currentSortType(); track offer.id) {
              <app-offer-card [offer]="offer"/>
            }
          </div>
        </section>
        <div class="cities__right-section">
          <section class="cities__map map"></section>
        </div>
      </div>
    </div>
  </main>
</div>
